<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>29576776528-jm0ioi5go9j9jrjr5s8ip7fnenu8q8iu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.29576776528-jm0ioi5go9j9jrjr5s8ip7fnenu8q8iu</string>
	<key>API_KEY</key>
	<string>AIzaSyC5kqbBgzwsBl3Gsvr44EHE4tKuAzcp0qg</string>
	<key>GCM_SENDER_ID</key>
	<string>29576776528</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ginotasis.JournalFirebase</string>
	<key>PROJECT_ID</key>
	<string>journalfirebase-9421a</string>
	<key>STORAGE_BUCKET</key>
	<string>journalfirebase-9421a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:29576776528:ios:f703f350f93aee872cfa55</string>
</dict>
</plist>